# 1. Load the bulk .npy files and concatenate into single array

In [3]:
from sklearn.model_selection import train_test_split
# For TF MONO Ratio Only (enhanced)

import numpy as np

#a = np.load("EMONO_2_FULL_VALUES.npy")
a = np.load("TF-EMONO-3_13970.npy")


#X = a[:-1]
#X = a[1:][:] #to deduct length
X = a #for exact length of rows


X[0][0]
X.shape

(5113, 13970)

# For TF MONO  Only (orig)
import numpy as np

a = np.load("12418_SingleFile_float_16_correctTF_MONO.npy")
X = a[1:]
X.shape
#X[0][0]

# 2. Load the class label file class_label.txt

In [4]:
# 'reuters21578 _enc.txt' class label or y of 7125 rows 
y=np.genfromtxt('class_label.txt', delimiter=',', dtype='int32', skip_header=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# 3. Sarnders-twitter-sentiment-corpus.csv to obtain Features

In [5]:
import numpy as np

import pandas as pd
data=pd.read_csv('Sarnders-twitter-sentiment-corpus.csv')

import nltk
stopwords = nltk.corpus.stopwords.words('english')

import string
import re

from nltk.stem import PorterStemmer
ps = PorterStemmer()

from math import *

# 4. Pre-processing

In [6]:
#Pre-processing
def clean_text(txt):
    txt = "".join([c for c in txt if c not in string.punctuation])
    tokens = re.split('\W+',txt)
    txt = [ps.stem(word) for word in tokens if word not in stopwords]
    return txt

# 5. Generating Features

In [7]:
# Only simulate min_df = 0 for extracting 12418  features

from sklearn.feature_extraction.text import CountVectorizer

cv_vect = CountVectorizer(max_features = 13970, analyzer = clean_text, lowercase=True)
#cv_vect = CountVectorizer(analyzer='word', encoding='utf-8', decode_error='strict', strip_accents=None, lowercase=True, preprocessor=None, tokenizer=None, stop_words='english', token_pattern='(?u)\b\w\w+\b', max_df=1.0, min_df=1, max_features=None, vocabulary=None, binary=False )

XCV = cv_vect.fit(data['document'])
X_CV = cv_vect.transform(data['document'])
X_CV.shape

(5113, 13970)

In [8]:
features = cv_vect.get_feature_names() #for 12418

In [9]:
# tokenizing each row and transfering to row list
row = data['document'].apply(lambda x: clean_text(x)) 
#row = cv_vect.inverse_transform(X_CV)

In [10]:
# chi Square 

from sklearn.feature_selection import chi2
f_p_values = chi2(X_train,y_train)

p_values = pd.Series(f_p_values[0])
p_values.index = features
sorted_features = p_values.sort_values(ascending = True)

In [11]:
#f_p_values[0]

In [12]:
#f_p_values[1]

#  Modify the Number of Features

In [13]:
# Modify values for number of Features =  500, 1000, 2000, 3000, 4000, 5000 ... 10000

num_features = 13970

In [14]:
selected_features=sorted_features[0:num_features]

In [15]:
selected_features.index

Index(['photo', 'engag', 'diss', 'rate', 'mich', 'hubo', 'httptc', 'moment',
       'n', 'novidad',
       ...
       '益若つばさ', '直擊', '稼ぐ', '蘋果及', '講習中appl', '谷歌三星智能手機發布會httptcosfblwqjg',
       '跟', '４', '６５型の有機ｅｌ画面を採用', 'ｺｺ'],
      dtype='object', length=13970)

In [22]:
# For TF MONO Ratio Only:
##################PostGlobalMONO = np.genfromtxt('GlobalMONO_Ratio_12418.txt', delimiter=',', dtype='float16') #for 12418 features

# For TF MONO  Only:
#PostGlobalMONO = np.genfromtxt('GlobalMONO_12418.txt', delimiter=',', dtype='float16') #for 12418 features

# For TF MONO Ratio Distance H2 Only:
#PostGlobalMONO = np.genfromtxt('Global_MONO_Distance_H2.txt', delimiter=',', dtype='float16') #for 12418 features

# H3 ------ For TF MONO Ratio Distance H3 Only:
#PostGlobalMONO = np.genfromtxt('Global_MONO_Distance_H3.txt', delimiter=',', dtype='float16') #for 12418 features

# H4 ------ For TF MONO Ratio Distance H4 Only:
#PostGlobalMONO = np.genfromtxt('Global_MONO_Distance_H4.txt', delimiter=',', dtype='float16') #for 12418 features



#PostGlobalMONO = np.genfromtxt('Global_MONO_H1.txt', delimiter=',', dtype='float16') 

#EMO = 2
PostGlobalMONO = np.genfromtxt('EMO_3-13970.txt', delimiter=',', dtype='float16') 


PostGlobalMONO.shape

(13970,)

In [23]:
PostGlobalMONO = PostGlobalMONO.astype("float16")

In [24]:
# Creating a Data Frame for Global Mono from generated computing in excel containing 2 columns = features and 1 + GlobalMONO * 6.0
df_PostGlobalMONO = pd.DataFrame(data={'Features': features, 'Global_Mono': PostGlobalMONO, 'p_values': p_values})

In [25]:
df_PostGlobalMONO

                    Features  Global_Mono  p_values
                                 1.000000  0.106914
0                          0     1.928711  1.443085
000                      000     1.021484  0.091825
01                        01     1.158203       NaN
0150                    0150     1.000000  0.200380
...                      ...          ...       ...
顔認識ロック解除失敗してる  顔認識ロック解除失敗してる     1.000000  0.659259
４                          ４     1.000000       NaN
６５型の有機ｅｌ画面を採用  ６５型の有機ｅｌ画面を採用     1.000000       NaN
ｏｓ                        ｏｓ     1.000000  0.141270
ｺｺ                        ｺｺ     1.000000       NaN

[13970 rows x 3 columns]

In [26]:
p_values

                 0.106914
0                1.443085
000              0.091825
01                    NaN
0150             0.200380
                   ...
顔認識ロック解除失敗してる    0.659259
４                     NaN
６５型の有機ｅｌ画面を採用         NaN
ｏｓ               0.141270
ｺｺ                    NaN
Length: 13970, dtype: float64

In [27]:
# displaying created dataframe
filtered_df_PostGlobalMONO = df_PostGlobalMONO.sort_values(by = ['p_values'], ascending = False)
res_df_PostGlobalMONO=filtered_df_PostGlobalMONO.head(num_features)
res_df_PostGlobalMONO

,Features,Global_Mono,p_values
de,de,2.390625,130.047681
en,en,2.736328,75.831365
appl,appl,1.956055,63.614853
el,el,2.119141,37.022322
love,love,1.000000,28.064497
...,...,...,...
谷歌三星智能手機發布會httptcosfblwqjg,谷歌三星智能手機發布會httptcosfblwqjg,1.000000,NaN
跟,跟,1.000000,NaN
４,４,1.000000,NaN
６５型の有機ｅｌ画面を採用,６５型の有機ｅｌ画面を採用,1.000000,NaN
ｺｺ,ｺｺ,1.000000,NaN

In [28]:
# Chi2 max Features 500, 1000, 2000, 3000, 4000, 5000 ... 10000
chi2max_df_PostGlobalMONO = filtered_df_PostGlobalMONO['Global_Mono'][0:num_features]
chi2max_df_PostGlobalMONO

de                            2.390625
en                            2.736328
appl                          1.956055
el                            2.119141
love                          1.000000
                                ...
谷歌三星智能手機發布會httptcosfblwqjg    1.000000
跟                             1.000000
４                             1.000000
６５型の有機ｅｌ画面を採用                 1.000000
ｺｺ                            1.000000
Name: Global_Mono, Length: 13970, dtype: float16

In [29]:
chi2max_df_PostGlobalMONO.index

Index(['de', 'en', 'appl', 'el', 'love', 'que', 'i', 'es', 'la', 'fail',
       ...
       '益若つばさ', '直擊', '稼ぐ', '蘋果及', '講習中appl', '谷歌三星智能手機發布會httptcosfblwqjg',
       '跟', '４', '６５型の有機ｅｌ画面を採用', 'ｺｺ'],
      dtype='object', length=13970)

In [30]:
from math import *

In [31]:
temp = np.zeros((1,num_features), dtype="float16")
TF_MONO_TABLE = pd.DataFrame(np.zeros((1,num_features )))

from collections import Counter


DF_counter = 0
numOfDocs = 5113
#limit = 8324
# 6 minutes is 1k rows for 12418 features
# 2 minutes is 1k rows for 500 features
for i in range(1,numOfDocs):
    for j in row[i]:
        
        tf = row[i].count(j) / len(row[i])
                          
               
        
        #print(tf)
       
        #print("tf OF {} = {} / {} = {}".format(j,data['document'][i].count(j),len(row[i]),tf))
        
    
        
        index_of_term = np.where(res_df_PostGlobalMONO == j)
        actual_index = index_of_term[0]
        
        # MONOfromDataFrame Represent the MONO in every row / document:
        MONOfromDataFrame = res_df_PostGlobalMONO['Global_Mono'].iloc[actual_index]
      
        ###print("Actual index is {}".format(actual_index))
        
                
         # A. TF MONO:
        #TF_MONO_result = tf * MONOfromDataFrame
        
        # B. Squared Root TF MONO:
        TF_MONO_result = sqrt(tf) * MONOfromDataFrame
        
        #-------------------------------
        # C. TF-IDF
        #IDF = log(numOfDocs/DF_counter)
        #TF_MONO_result = tf * IDF
        #-------------------------------
        
        ###print("[Row {}] TF OF {} = {} / {} = {}".format(i+1,j,row[i].count(j),len(row[i]),tf))
        ###print("* Global MONO of ")
        ###print(res_df_PostGlobalMONO['Features'].iloc[actual_index])
        ###print(MONOfromDataFrame)
        ###print("The result is {}".format(TF_MONO_result))
        ###print("------------------------------------------------------------")
        #print(j,tf, df_PostGlobalMONO['Global_Mono'].iloc[actual_index], TF_MONO_result)
        
        temp[0][actual_index] = TF_MONO_result
        
        # Coverting Temp Array into Data Frame
#Modify here 6:
    First_Result = pd.DataFrame(temp, columns = chi2max_df_PostGlobalMONO.index)
    First_Result = First_Result.astype("float16")
    temp = np.zeros((1,num_features), dtype="float16")
    
    TF_MONO_TABLE = np.append(TF_MONO_TABLE, np.array(First_Result), axis=0)
    
    First_Result.drop(First_Result.index[:], inplace=True)
# appending another dataframe as another row

#TF_MONO_TABLE2 = pd.DataFrame(np.ones((1,29523)))

#Modify here 7:

#TF_MONO_TABLE = pd.DataFrame(Second_Result, columns = features)   
TF_MONO_TABLE.shape

(5113, 13970)

# Export result as numpy

In [32]:
TF_MONO_TABLE = TF_MONO_TABLE.astype("float16")

np.save("FROM-TF-EMONO-3_13970-X2-TO-SRTF-EMONO_3-13970.npy",TF_MONO_TABLE)

In [33]:
#pd.DataFrame(TF_MONO_TABLE, columns = chi2max_df_PostGlobalMONO.index)

# Clear numpy array / Data Frame

In [34]:

TF_MONO_TABLE = np.array([])

#clear the array
temp = np.zeros((1,num_features), dtype="float16")
temp.shape

(1, 13970)